<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BURGERCIM </title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/users-style.css" />
</head>
<body>


     <!-- Sepet Ekranı -->

   <div class="off-screen-sepet">

      <div>
        <div>
          <h1>SEPET</h1>
        </div>

        <div>
          <h1>sepet içeriği</h1>
        </div>

        <div>
          <h1>Onayla</h1>
        </div>
      </div>
    
   </div>

  <!-- Navbar -->
  <div class="navbar">
    <h1>BURGERCIM</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/34/34568.png" alt="Sepet" class="cart-icon"/>
  </div>



  <!-- Menü -->
  <div class="menu-section">
    <!-- Hamburgerler -->
    <h2 class="section-title">Hamburgerler</h2>
    <% hamburgerler.forEach(function(urun) { %>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/<%= urun.resim %>" alt="Cheeseburger">
        <p><%= urun.urunAd %></p>
        <p class="price"><%= urun.fiyat %> TL</p>
      </div> 
    </div>
    <% }) %>

    <!-- Kızartmalar -->
    <h2 class="section-title">Kızartmalar</h2>
    <% kizartmalar.forEach(function(urun) { %>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/<%= urun.resim %>" alt="Patates Kızartması">
        <p><%= urun.urunAd %></p>
        <p class="price"><%= urun.fiyat %> TL</p>
      </div>
    </div>
    <% }) %>

    <!-- İçecekler -->
    <h2 class="section-title">İçecekler</h2>
    <% icecekler.forEach(function(urun) { %>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/<%= urun.resim %>" alt="Kola">
        <p><%= urun.urunAd %></p>
        <p class="price"><%= urun.fiyat %> TL</p>
      </div>
    </div>
    <% }) %>
  </div>

  
   <script src="../js/users.js"></script>
</body>
</html>
