<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>BURGERCIM </title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="../css/users-style.css" />
</head>
<body>


     <!-- Sepet Ekranı -->

   <div class="off-screen-sepet">

      
        <div class = "sepet-baslik-kutusu">
          <h1>SEPET</h1>
        </div>

        <div class="sepet-icerik-kutusu">
          <div class="sepet-icerikler">
            <div class="sepet-urun-resim"><img src="Images/cheeseburger.png" alt=""></div>
            <div class="sepet-urun-bilgiler">
              <div class="sepet-urun-isim"><p>Cheeseburger</p></div>
              <div class="sepet-urun-altbilgi">
                <div class="sepet-urun-adet">
                  <button class="urun-adet-buton-eksi">-</button>
                  <div class="urun-adet-sayi"><p>2 Adet</p></div>
                  <button class="urun-adet-buton-arti">+</button>
                </div>
                <div class="sepet-urun-fiyat"><p>450 TL</p></div>
              </div>
            </div>
          </div>

          <div class="sepet-icerikler">
            <div class="sepet-urun-resim"><img src="Images/kola.png" alt=""></div>
            <div class="sepet-urun-bilgiler">
              <div class="sepet-urun-isim"><p>Kola</p></div>
              <div class="sepet-urun-altbilgi">
                <div class="sepet-urun-adet">
                  <button class="urun-adet-buton-eksi">-</button>
                  <div class="urun-adet-sayi"><p>2 Adet</p></div>
                  <button class="urun-adet-buton-arti">+</button>
                </div>
                <div class="sepet-urun-fiyat"><p>100 TL</p></div>
              </div>
            </div>
          </div>
        </div>

        <div class="sepet-onay-kutusu">
          <div class="sepet-onay-tutar"><p>Toplam Tutar : 550 TL</p></div>
          <div class="sepet-butonlar">
            <div><button class="sepet-bosalt-buton">Sepeti Boşalt</button></div>
            <div><button class="sepet-siparis-buton">Sipariş Ver</button></div>
          </div>
        </div>
      
    
   </div>

  <!-- Navbar -->
  <div class="navbar">
    <h1>BURGERCIM</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/34/34568.png" alt="Sepet" class="cart-icon"/>
  </div>



  <!-- Menü -->
  <div class="menu-section">
    <!-- Hamburgerler -->
    <h2 class="section-title">Hamburgerler</h2>
    <% hamburgerler.forEach(function(urun) { %>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/<%= urun.resim %>" alt="Burger">
        <p><%= urun.urunAd %></p>
        <p class="price"><%= urun.fiyat %> TL</p>
      </div> 
    </div>
    <% }) %>

    <!-- Kızartmalar -->
    <h2 class="section-title">Kızartmalar</h2>
    <% kizartmalar.forEach(function(urun) { %>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/<%= urun.resim %>" alt="Kızartma">
        <p><%= urun.urunAd %></p>
        <p class="price"><%= urun.fiyat %> TL</p>
      </div>
    </div>
    <% }) %>

    <!-- İçecekler -->
    <h2 class="section-title">İçecekler</h2>
    <% icecekler.forEach(function(urun) { %>
    <div class="menu-items">
      <div class="menu-item">
        <img src="Images/<%= urun.resim %>" alt="İçecek">
        <p><%= urun.urunAd %></p>
        <p class="price"><%= urun.fiyat %> TL</p>
      </div>
    </div>
    <% }) %>
  </div>

  
   <script src="../js/users.js"></script>
</body>
</html>
